* {
    font-family: "VT323", sans-serif;
    font-size: x-large;
    text-shadow: green 1px 0 10px;
}

body{
    margin: 0 0;
    background-color: black;
    color: green;
}

header{
    width: 100%;
    overflow: visible;
    position: fixed; /* Set the navbar to fixed position */
    top: 122px; /* Position the navbar at the top of the page */
    background-color: black;
    border-bottom: 1px green solid;
    box-shadow: green 1px 0 10px;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 75%;
    margin: 0 auto;
    color: green;
}

a {
    color:  green;
}

a:visited {
    color: green;
}

a:hover {
    font-weight: bold;
}

#mainNav{
    display: flex;
    list-style-type: none;
    margin-left: auto;
}

#mainNav a{
    margin: 10px;
    color: green;
    text-decoration: none;
}

#mainNav a:hover, .dropdown-content li:hover{
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: black;
    left:auto;
    right:120px;
}

.dropdown-content a {
    display: block;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}


.list-icon {
    list-style: none;
    background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
    padding: 5px 25px;
}

#lightMode {
    background-image: url('../Images/TerminalTheme/icons8-sun-30.png');
}

#darkMode {
    background-image: url('../Images/TerminalTheme/icons8-moon-30.png');
}

#terminalMode {
    background-image: url('../Images/TerminalTheme/icons8-terminal-30.png');
}

main{
    display: flex;
    flex-direction: column;
    max-width: 75%;
    margin: 200px auto;
    margin-bottom: 0;
}

#aboutme {
    display: flex;
    flex-direction: row;
    margin-top: -200px; /*Added to fix anchor link issue where the heading gets cutoff by the nav bar*/
    padding-top: 200px; /*Added to fix anchor link issue where the heading gets cutoff by the nav bar*/
}

#aboutme li{
    background-image: url('../Images/TerminalTheme/icons8-school-50.png');
}

#profilePhoto {
    border-radius: 30%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 0 20%;
    margin: 25% 10%;
    display: none;
}

#projects li{
    background-image: url('../Images/TerminalTheme/icons8-project-48.png');
    font-weight: bold;
}

#projects li:hover{
    cursor: pointer;
    text-decoration: underline;
}

#projects section{
    display: none;
    margin-left: 30px;

}

#skills img{
    height: 60px;
    width: 60px;
}

#contact {
    margin:0;
}

#contact img{
    height: 60px;
    width: 60px;
}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 75%;
    margin: 0 auto;
    padding-bottom: 120px;
}

footer p, footer a{
    font-size: medium;
    margin-right: 150px;
}

.monitorCorner {
    height: 140px;
    width: 140px;
    position: fixed;
    z-index: 99;
    background-image: url('../Images/TerminalTheme/MonitorCorner.png');
}

.monitorTopBottom {
    height: 122px;
    width: 100%;
    position: fixed;
    z-index: 98;
    background-image: url('../Images/TerminalTheme/MonitorBezel.png');
}

.monitorSides {
    height: 100%;
    width: 122px;
    position: fixed;
    top: 0;
    z-index: 98;
    background-image: url('../Images/TerminalTheme/MonitorLeft.png');
}

#monitorCornerTopLeft {
    top: 0;
}

#monitorCornerTopRight {
    top: 0;
    right:0;
    transform: scaleX(-1);
}

#monitorCornerBottomLeft {
    bottom: 0;
    transform: scaleY(-1);
}

#monitorCornerBottomRight {
    bottom: 0;
    right:0;
    z-index: 99;
    transform: rotate(180deg);
}

#monitorTop {
    top: 0;
}

#monitorRight {
    right:0;
    transform: scaleX(-1);
}

#monitorBottom {
    bottom: 0;
    transform: scaleY(-1);
}

#monitorBottomButtons {
    height: 122px;
    width: 175px;
    position: fixed;
    bottom: 0;
    right: 140px;
    z-index: 98;
    background-image: url('../Images/TerminalTheme/MonitorButtons.png');
}

@media only screen and (max-width: 1000px) {
    .monitorTopCorner, .monitorBottomCorner, .monitorTopBottom, .monitorSides, #monitorBottomButtons{
        display: none;
    }

    header{
        top: 0; /* Position the navbar at the top of the page */
    }

    .dropdown-content {
        left:auto;
        right:0;
    }

    footer{
        padding-bottom: 0;
    }
}

@media only screen and (max-width: 950px) {
    nav{
        flex-direction: column;
    }

    #mainNav{
        margin-left: 0;
    }

    #aboutme {
        margin-top: -200px; /*Added to fix anchor link issue where the heading gets cutoff by the nav bar*/
    }

    #projects img {
        width: 50%;
        height: 50%;
    }
}